.homeTile{
    margin-left: 2%;
    margin-top: 2%;
}
.productsTable{
    margin: 2%;
    width: 95% !important;
    border: 2px solid rgb(231, 228, 228);
}
.productsTable th{
    background-color: rgb(232, 232, 248);
    border: 1px solid rgb(231, 228, 228);
}
.adjustmentTable{
    margin: 2%;
}
.adjustmentTable th{
    background-color: rgb(232, 232, 248);
    border: 1px solid rgb(231, 228, 228);
}
.hScrollBox{
    overflow-x: auto;
    width: 100%;
}
.redBackground {
    background-color: rgb(231, 35, 35) !important;
    display: inline-block;
    color: white !important;
    text-align: center !important;
    width: 100%;
    box-sizing: border-box;
}
.noKeyboard input {
    pointer-events: none;
}

